<nav class="top-nav">
  <div class="nav-brand">IM Planner</div>
  <div class="nav-links">
    <a href="/">Experiments</a>
    <a href="/recipes">Recipes</a>
    <a href="/param-library">Parameters</a>
    <a href="/machines">Machines</a>
  </div>
</nav>
